## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
app_train.shape #顯示(rows,columns)

(307511, 122)

#### 列出所有欄位

In [5]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [6]:
app_train[['SK_ID_CURR','NAME_CONTRACT_TYPE']][0:5]

   SK_ID_CURR NAME_CONTRACT_TYPE
0      100002         Cash loans
1      100003         Cash loans
2      100004    Revolving loans
3      100006         Cash loans
4      100007         Cash loans

In [7]:
#顯示後幾筆，預設5筆
app_train.tail(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307501,456245,0,Cash loans,F,N,Y,3,81000.0,269550.0,11871.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307502,456246,0,Cash loans,F,N,Y,1,94500.0,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307503,456247,0,Cash loans,F,N,Y,0,112500.0,345510.0,17770.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307504,456248,0,Cash loans,F,N,Y,0,153000.0,331920.0,16096.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,456249,0,Cash loans,F,N,Y,0,112500.0,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [8]:
#.info()可以看到該檔案的資訊
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

# insert
app_train.insert(3,column="test_column",value="test") 

app_train.head

In [9]:
#刪除NaN的資料/(307511, 122)
app =app_train.dropna()
print(app_train.shape)
app.shape

(307511, 122)

(8602, 122)

In [10]:
#總收入排序
app_train.sort_values("AMT_INCOME_TOTAL",ascending = False)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
12840,114967,1,Cash loans,F,N,Y,1,117000000.0,562491.0,26194.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
203693,336147,0,Cash loans,M,Y,Y,2,18000090.0,675000.0,69295.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246858,385674,0,Cash loans,M,Y,Y,0,13500000.0,1400503.5,130945.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
77768,190160,0,Cash loans,F,Y,N,0,9000000.0,1431531.0,132601.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
131127,252084,0,Cash loans,M,Y,N,0,6750000.0,790830.0,52978.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
103006,219563,0,Revolving loans,M,Y,Y,0,4500000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
204564,337151,0,Cash loans,M,N,N,0,4500000.0,450000.0,47749.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
187833,317748,0,Cash loans,M,N,N,0,4500000.0,835380.0,42651.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
287463,432980,0,Cash loans,M,Y,Y,0,4500000.0,1755000.0,61132.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
181698,310601,0,Cash loans,M,Y,Y,1,3950059.5,675000.0,66217.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
20216,123587,0,Cash loans,M,Y,N,0,3825000.0,1241023.5,117369.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
284311,429258,0,Cash loans,M,Y,N,0,3600000.0,1113840.0,44302.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
49645,157471,0,Cash loans,F,Y,N,0,3600000.0,953460.0,68791.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
82846,196091,0,Cash loans,F,N,Y,1,3375000.0,900000.0,40801.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
86026,199821,0,Cash loans,M,Y,Y,1,3375000.0,900000.0,46084.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
101007,217276,0,Revolving loans,M,Y,Y,0,3150000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
248159,387126,1,Cash loans,F,Y,Y,1,3150000.0,900000.0,48825.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
107926,225210,0,Cash loans,M,Y,Y,0,2930026.5,900000.0,36657.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
258773,399467,0,Revolving loans,M,Y,Y,2,2700000.0,180000.0,9000.0,...,0,0,0,0,0.0,2.0,0.0,0.0,0.0,1.0
298082,445335,0,Cash loans,M,Y,Y,0,2475000.0,1125000.0,47794.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
71637,183074,0,Revolving loans,F,N,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
158338,283559,0,Revolving loans,M,Y,Y,0,2250000.0,1012500.0,50625.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
206814,339713,0,Cash loans,F,N,Y,0,2250000.0,976077.0,52132.5,...,0,0,0,0,0.0,1.0,0.0,0.0,0.0,2.0
278212,422344,0,Cash loans,M,Y,Y,0,2250000.0,1506816.0,49927.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
294892,441639,0,Revolving loans,F,N,Y,0,2250000.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
201855,333985,0,Cash loans,F,Y,N,0,2250000.0,1542645.0,62829.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
29737,134526,0,Revolving loans,M,N,N,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
195807,327048,0,Revolving loans,M,Y,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
55329,164105,0,Revolving loans,M,Y,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
145673,268905,0,Revolving loans,M,Y,N,0,2250000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111197,229012,1,Cash loans,F,N,N,0,27000.0,215640.0,11290.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
125059,245029,0,Cash loans,F,N,N,1,27000.0,343800.0,13090.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
173546,301115,0,Cash loans,F,Y,N,0,27000.0,760225.5,32337.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
130706,251601,0,Cash loans,M,Y,Y,0,27000.0,182016.0,10579.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
157968,283114,0,Cash loans,F,N,Y,0,27000.0,292752.0,9346.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
270871,414010,0,Revolving loans,F,N,Y,2,27000.0,202500.0,10125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
37265,143170,0,Cash loans,M,N,Y,0,27000.0,101880.0,11101.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
90900,205539,0,Cash loans,F,N,N,1,27000.0,343800.0,16024.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
274450,418117,0,Cash loans,F,N,N,0,27000.0,265851.0,11263.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
292142,438440,0,Cash loans,F,N,Y,1,27000.0,480060.0,23476.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
133737,255107,0,Cash loans,F,N,N,0,27000.0,159264.0,4959.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
220443,355379,0,Cash loans,M,N,Y,0,27000.0,107820.0,7798.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199006,330720,0,Cash loans,F,N,Y,1,27000.0,450000.0,22018.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
217861,352415,0,Revolving loans,F,N,Y,0,27000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
226437,362281,0,Cash loans,F,N,Y,0,27000.0,161730.0,6979.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
277924,422021,0,Cash loans,F,Y,N,1,27000.0,152820.0,15016.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
220602,355557,0,Cash loans,F,N,Y,0,27000.0,45000.0,4450.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
24224,128176,0,Cash loans,F,N,Y,0,27000.0,71955.0,7245.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
196456,327790,0,Cash loans,F,N,N,1,27000.0,275040.0,10498.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
6401,107468,0,Cash loans,F,N,N,0,27000.0,135000.0,14175.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
232535,369333,0,Cash loans,F,N,Y,0,27000.0,255960.0,14422.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
83674,197045,0,Cash loans,F,N,N,2,27000.0,269550.0,14751.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
262748,404212,0,Cash loans,F,N,N,2,26550.0,101880.0,10053.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
175433,303289,0,Cash loans,F,Y,Y,0,26550.0,571500.0,16281.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
132707,253920,0,Cash loans,F,N,Y,0,26460.0,101880.0,6763.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
240137,378118,0,Cash loans,F,N,N,0,26100.0,90000.0,4329.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
186643,316377,0,Cash loans,F,N,N,0,26100.0,54000.0,5391.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246104,384810,0,Cash loans,F,N,Y,0,26100.0,173092.5,12438.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20727,124157,1,Cash loans,F,Y,Y,0,25650.0,2173500.0,48118.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1678,101965,0,Cash loans,F,N,N,0,25650.0,158148.0,5809.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN